html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /*border: 0;*/
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  border: 1px solid grey;
  max-width: 100%;
}
/*General Styles*/
html {
  font-size: 62.5%;
}

@media screen and (max-width: 800px) {
  body {
    background-color: red;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: lightpink;
  }
}
body {
  line-height: 1.5;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

h1 {
  color: red;
  text-align: center;
  margin: 2%;
  font-size: 6rem;
}

#home nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

nav a {
  width: 12%;
  font-size: 1.7rem;
  padding: 1%;
  border: 2px solid blue;
}

h2 {
  color: black;
  text-align: center;
  margin: 3%;
  font-size: 2rem;
}

.about p {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  width: 75%;
  margin: auto;
}

.about img {
  width: 100%;
}

h3 {
  color: black;
  font-size: 2rem;
}

.projectbox img {
  height: 30%;
  width: 15%;
}

.projectbox {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.projecttext {
  width: 15%;
  height: 15%;
}

.contact a {
    display: block;
  background: black;
  color: white;
  width: 10%;
  height: 2%;
  margin: auto;
}

footer {
  width: 100%;
  padding: 2%;
  background: lightgreen;
}
